**/*.csv
**/*.png
**/*.jpg
**/*.jpeg
**/*.pdf
**/*.xlsx
**/*.xls
**/*.ods
**/*.docx
**/*.doc
**/*.txt
**/*.json
**/*.yaml
**/*.html
**/*.db
**/*.pkl
**/*.log
**/*.db-journal
**/_dib_data/
/wm_utils/_configs/*
!**/.gitkeep

**/alphalens_custom/

**/_misc/
**/_data/
**/_ad_hoc_rebal_day/
**/_old/
**/_misc/
**/_temp/
**/_cache/
**/__pycache__/
**/.env
/build/
/dist/
*.egg-info/

!wm_utils/data/**/*.csv

**/_from_rdp_as_is/
**/_rdp_bat_scripts/

**/_all_calls.ipynb
**/_one_time_mapping/
**/_first_time_ingestion_process/

**/drifted_weights/
**/_tokens/

**/.venv/
**/_from_rdp_as_is/
**/_input_files/
**/non_model_and_tracker_scids.py

**/tt_grpc/

**/_ad_hoc/